@use '../abstract' as a;

.category {
  width: 100%;
}

.movies_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  padding: 0 1em;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
