@use '../abstract' as a;

footer {
  @include a.flex;
  flex-direction: column;
  background-color: a.$clr-bggrey;
  padding: 2em 0;
  gap: 1em;
  @include a.mq-961 {
    align-items: flex-start;
    padding: 2em;
  }
}

.social_links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  cursor: pointer;
}

.social_icon_container {
  height: 25px;
  width: 25px;
  @include a.flex;
}

#seo_tag_container {
  @include a.flex;
  flex-direction: column;
  gap: 1em;
  @include a.mq-641 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
  @include a.mq-961 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.seo_tags {
  & a {
    color: #515151;

    &:hover {
      color: #717171;
    }
  }
}