@use '../abstract' as a;

header {
  position: sticky;
  height: 3em;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  @include a.flex($j: space-between);
}

#logo_container {
  position: relative;

  @include a.flex;

  & h1 {
    font-size: 1.1em;
    margin-left: 4em;
    font-family: 'Fugaz One', sans-serif;

    @include a.mq-641 {
      font-size: 1.5em;
      margin-left: 3.25em;
    }
  }
}

#logo_elements {
  height: 3em;
  position: relative;
  top: 0;
  left: 1em;

  & img {
    position: absolute;
    inset: 0;
    height: 3em;
  }
}

#logo_el_1 {
  animation: rotateLeft 27s linear infinite;

}

#logo_el_3 {
  animation: rotateRight 18s linear infinite;
}

#logo_el_4 {
  animation: rotateLeft 25s linear infinite;
}

@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}