@use '../abstract' as a;

header {
  position: sticky;
  height: 3em;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  @include a.flex($j: space-between);
  @include a.mq-320 {

  }

  @include a.mq-641 {

  }

  @include a.mq-961 {

  }

  @include a.mq-1025 {

  }

  @include a.mq-1281 {

  }

  @include a.mq-1800 {

  }
}

#logo {
  height: 2em;
}