@use '../abstract' as a;


.category {
  width: 100%;
  position: relative;
}

.movies_container {
  display: flex;
  position: relative;
  transform: translateX(0%);
  transition: transform 1s ease-in-out;
}


.slide {
  --translate-value: attr(data-translate);
  transform: translateX(var(--translate-value));
  transition: transform 1s ease-in-out;
}